@use "../../styles/variables.scss" as *;

.playstore-container {
  background: $projects-bg;
  padding: 50px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 4px 10px $shadow-medium;
  margin-top: 40px;

  .title {
    font-size: 2.5rem;
    color: $text-primary;
    margin-bottom: 20px;
  }

  .apps-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .app-card {
    background: $white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px $shadow-medium;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(33.33% - 20px);
    max-width: 300px;
    text-align: center;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    }

    .app-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.5rem;
      color: $text-primary;
    }

    p {
      font-size: 1.1rem;
      color: $text-secondary;
      margin-bottom: 10px;
    }

    .playstore-button {
      display: inline-block;
      padding: 10px 15px;
      background: $primary-blue;
      color: $white;
      text-decoration: none;
      border-radius: 6px;
      font-weight: bold;
      transition: background 0.3s ease;

      &:hover {
        background: darken($primary-blue, 10%);
      }
    }
  }

  // Responsive Design
  @media (max-width: $breakpoint-lg) {
    .app-card {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: $breakpoint-md) {
    .title {
      font-size: 2rem;
    }

    .app-card {
      width: 100%;
    }
  }
}
